html body {
    margin: 0;
    padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Nav Bar for all */

.logo {
	text-align: left;
	width: 70px;
	height: 70px;
	margin: 10px;
	padding: 10px;
}

/* Home background image */

.back-img {
    max-width: 100%;
	max-height: 100%;
    z-index: 110;
}

/* Movies Page */

header {
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top:0;
	padding:0;
}
/* Movies page table */

.table-header {
	text-align: center;
}

.head-p {
	text-align: center;
	margin-top: 5px;
}

table, th, td {
	border: 4px double black;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 500px;
	text-align: center;
	font-size: 15px;
}

.m-container {
	border: 3px solid red;
	background-color: black;
	margin: 0px 170px 40px;
	padding: 20px;
}
.m-description {
	margin: 30px;
	font-size: 20px;
	color: red;
}

/* Star Page */

* {
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 300px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
	float: left;
}
  
  /* Star page Hide the images by default */

.mySlides {
	display: none;
}
  
  /* Star page Add a pointer when hovering over the thumbnail images */

.cursor {
	cursor: pointer;
}
  
  /* Star page Next & previous buttons */

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: 30%;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
  
  /* Star page Position the "next button" to the right */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
  /* Star page On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Star page Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
  /* Star page Container for image text */

.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}
  
  /* Star page Six columns side by side */

.column {
	float: left;
	width: 16.66%;
}
  
  /* Star page Add a transparency effect for thumnbail images */

.demo {
	opacity: 0.6;
}
  
.active, .demo:hover {
	opacity: 1;
}

/* Star page paragraph */


.info-container {
	position: relative;
	width: 700px;
	height: 200px;
	margin-top: 20px;
	margin-right: 40px;
	float: right;
}

.info-head {
	text-align: center;
}

.abilities {
	text-align: center;
}

/* footer, all pages */


#footer {
	text-align: center;
	margin-top: 60%;
}

h2 {
	text-align: center;
}

.foot-head, .foot-email {
	text-align: center;
}

.foot-head {
	font-size: xx-large;
	margin: 0;
	padding-bottom: 5px;
}

a, .foot-email {
	color: black;
}

.foot-email {
	margin: 0;
	padding-bottom: 12px;
}

div.img-center{
    display: flex;
    column-gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.foot-menu {
	display: inline-block;
	text-align: center;
	
}


.foot-list {
	text-align: center;
	display: inline-block;
	margin: 0;
	font-size: 22px;
	padding-left: 10px;
	padding-right: 10px;
}